@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    border: 0 solid #e5e7eb;
}

html{
    scroll-behavior: smooth;
}
img{
    width:100%;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

nav{
    width:100%;
    max-width:1400px;
    margin:auto;
}
button{
    cursor:pointer;

}


h1{
    font-size:48px;
    color:#243E63;
}

h2{
    font-size: 14px;
    letter-spacing: 1px;
    color:#6415ff;
}

.container{
    padding:0px;    
}
.row{
    width:100%;
    max-width:1400px;
    margin:0 auto;
}
p{
    font-size:16px;
    color:#A0AEC0;
}


li{
    color:#718096;
    font-weight:500;
}


.nav__button:hover{
    background-color: #4d15be;
    transition:300ms ease;
}
.header__button:hover{
    background-color:#4d15be;
    transition: 300ms ease;
}
.quality__button:hover{
    background-color:#4d15be;
    transition: 300ms ease;
} 
.values__button:hover{
    background-color:#4d15be;
    transition: 300ms ease;
}

.btn__menu{
    background-color:transparent;
    font-size:40px;
    text-align: center;
    border:none;
    font-size: 18px;
}

.btn__burger{
    display:none;
}

.fas.fa-bars{
    margin-right:12px;
}

.menu__backdrop{
    width:96%;
    max-width:1400px;
    padding: 0 24px;
    position:absolute;
    background-color:white;
    border-radius:10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
    border:.5px solid #CBD5E0;
    top:24px;
    height:300px;
    z-index:100;
    justify-content: center;
    align-items: center;
    display:none;
}

.menu--open .menu__backdrop{
    display: flex;
}


.menu__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn__menu--close{
    position:absolute;
    right:20px;
    top:10px;
    padding:8px;
}
.menu__link{
    color:black;
}

.menu__list{
    padding: 10px 0;
}
/*

LANDING

*/

#landing{
    width:100%;
    max-width:1400px;
    margin:auto;
    padding: 0 24px;
}

.nav__container{
    width:100%;
    max-width:1400px;
    padding: 32px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.nav__link--tag:hover{
    border-bottom:#6415ff 2px solid;
    color:#6415ff;
}

.nav__link--tag{
    color: #243E63;
    font-weight: 500;
}

.nav__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link--tag{
    margin: 0 24px;
    color: black;
    font-size: 14px;
}



.nav__logo{
    width:48px;
}


.nav__link--spacing{
    margin-left:48px;
}


.nav__link--primary{
    color:white;
}

.nav__link--primary{
    border-bottom:none !important;
    color:white !important;
}

.nav__logo--name{
    font-weight: bold;
    font-size: 24px;
    color:#243e63;
    margin-left:8px;
}

.nav__button{
    background-color:#6415ff;
    border-radius:100px;
    padding:12px;
}

/*

Header

*/

header{
    display: flex;
}

.header__description{
    width:40%;
    justify-content: center;
    align-items: center;
    margin-top:16px;
    margin-right:100px;
}

.header__img{
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width:30%;
}
.header__img--main{
    max-width:800px;
}

.header__heading{
    font-size:48px;
    margin-bottom:48px;
}

.purple{
    color:#6415ff;
}

.header__para{
    color:#243E63;
    margin-bottom:32px;
    font-size:18px;
}

.header__input--wrapper{
    position: relative;
    display: flex;
    align-items: center;
}


input{
    font-size:16px;
    border: 2px solid lightgray;
    padding: 20px 12rem 20px 20px;
    width:100%;
    border-radius:100px;
}

.header__button{
    position: absolute; 
    padding:15px 36px;  
    font-weight:700;
    font-size:16px;
    border-radius:100px;
    right:8px;
    background-color:#6415ff;
    color:white;
}

.header__small--text{
    margin-top:100px;
    font-weight:700;
    color:#A0AEC0;
    font-size: 12px;
    margin-bottom: 16px;    
}

.header__logo{
    width:400px;
    opacity:0.5;
}

.header__img--main{
    max-width:900px;
}

/*

FEATURES

*/

#features{
    width:100%;
    margin-top: 160px;
}

.features__heading{
    margin-top:16px;
}

.features__title{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__description{
    display: flex;
    width:calc(100%/3);
    padding:24px 0;
    padding-left:32px;

}

.features__para{ 
    padding:32px 0 80px 0;
    max-width:600px;
    text-align: center;
}

.features__img{
    border: 1px black solid;
    border-radius:10000px;
    padding:24px;
    border-color:#c5ccd4;
}

.features__img--wrapper{
    display: flex;
    padding-right:24px;
}

.features__sections{
    display: flex;
    flex-direction: column;
}

h3{
    font-size:24px;
    padding-bottom:24px;
}

.features__subheading--description{
    width:200px

}

.features__description--container{
    margin-bottom:200px;
    display: flex;
    flex-wrap: wrap;
}

/*

QUALITY WORK

*/

#quality{
    margin-bottom:300px;
}
.quality__section--title{
    font-size:16px;
    margin-bottom:24px;
}
.quality__heading{
    word-spacing:1px;
    margin-bottom:32px;
}
.quality__wrapper{
    display: flex;
}

.quality__img--wrapper{
    width:50%;
    margin-right:32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quality__img{
    max-width:600px;
    margin-left:24px;
}
.quality__description--wrapper{
    width:50%;
    display: flex;
    flex-direction:column;
    margin-left:32px;
    margin-right:32px;
}
.quality__para{
    font-size:18px;
    margin-bottom:32px;
    padding-right:32px;
}

.quality__button{
    font-weight: 700;
    width:150px;
    padding:16px 32px;
    background-color:#6415ff;
    border-radius:100px;
    color:white;
}

/*

VALUES

*/

#values{
    margin-top:100px;
    margin-bottom:300px;
}
.values__heading{
    font-size:16px;
    margin-bottom:24px;
}

.values__description{
    margin-left:32px;
    margin-right:60px;
    width:50%;
}

.values__header{
    font-size:56px;
    margin-bottom:32px;
}

.values__para{
    font-size:18px;
    color:#7C8BA1;
    margin-bottom:32px;
}

.fas.fa-dollar-sign{
    border:1px solid rgba(154,230,180); 
    background-color:rgba(154,230,180) ;
    border-radius:1000px;
    padding:12px 16px 12px 16px;
    color:#243E63;
}

.values__affordable{
    font-size:18px;

}

.fas.fa-suitcase{
    border:1px solid #FEB2B2;
    border-radius:1000px;
    padding: 12px;
    background-color:#FEB2B2;
    color:#d62e2e;
}

.values__subheading--para{
    color:#7C8BA1;
}

.values__dollar--wrapper{
    display: flex;

}

.values__affordable{
    margin-top:10px;
    margin-left:12px;
}

.values__suitcase--wrapper{
    display: flex;
}

.values__dollar--container{
    margin-right:38px;
    width:50%;
}

.values__suitcase--container{
    width:50%;

}

.values__subheading--wrapper{
    display: flex;
}
.values__button{
    margin-top:48px;
    font-weight:700;
    padding: 14px 32px;
    background-color:#6415ff;
    border-radius:100px;
    color:white;
}

.values__wrapper{
    display: flex;
}
.values__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.values__img--size{
    padding-right:32px;
    max-width:900px;
}

/*

STEPS

*/

#steps{
    margin-bottom:200px;
}
.steps__img--wrapper{
    width:50%;
    margin-right:32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__description--wrapper{
    width:50%;
    padding-right:32px;
}
.steps__container{
    display: flex;
}
.steps__img{
    max-width:750px;
    padding-right:32px;
    padding-left:32px;
}

.steps__section{
    margin-bottom:24px;
}

.steps__number{

    font-size:36px;
    font-weight:700;
}

.steps__heading--wrapper{
    margin-bottom:32px;
    display: flex;

}

.steps__number{
    color:#CBD5E0;
}

.steps__subheading--wrapper{
    margin-left:24px;
}

.steps__subheading{
    font-weight:700;
    font-size:20px;
    margin-bottom:12px;
}

.steps__description{
    font-size:16px;
    font-weight:500;
    line-height:24px;
    width:80%;
    color:#718096;
}

.steps__heading{
    margin-bottom:48px;
    
}

/*

PRICES

*/
#prices{
    margin-bottom:200px;
}

.prices__title--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prices__para{
    text-align: center;
    width:600px;
    margin-bottom:48px;
}

.prices__container--wrapper{
    width:calc(100%/4);
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-radius:8px;
    padding-top:8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
    margin-left:32px;
}

.prices__container--wrapper-blue{
    width:calc(100%/4);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius:8px;
    padding-top:8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
    margin-left:32px;
}

.prices__bracket--3{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    margin-right:32px;
}

.prices__bracket--header{
    background-color:white;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.prices__bracket--description{
    background-color: white;
    border-top: 2px solid #e7ebf0;
    border-bottom: 2px solid #e7ebf0;
}
.prices__button--wrapper{
    background-color:white;
    display: flex;
    justify-content: center;
    padding:32px;

}
.prices__btn-2{
    background: white;
    font-weight:700;
    color:#6415ff;
    padding:16px 50px;
    border-radius:100px;
}

.prices__btn--3{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    font-weight:700;
    padding:16px 50px;
    border-radius:100px;
}


.prices__btn{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-weight:700;
    padding:16px 50px;
    border-radius:100px;
}

.prices__btn--all:hover{
    transform:translateY(-1px);
    transform:translateX(1px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
}

.prices__bracket--title{
    font-weight:700;
    font-size:18px;
    padding:24px;
}

.prices__price{
    font-size:50px;
    font-weight:700;
    padding-bottom:24px;
}

.prices__period{
    font-size:16px;
    color: #A0AEC0;
    font-weight:700;
    padding-bottom:24px;
}

li:first-child{
    color: black;
    font-weight:700;
    font-size:18px; 
    margin-top:0;   
}

.prices__lists{
    padding:32px;
    display: flex;
    flex-direction:column;
    text-align: center;
}

.prices__list{
    margin-top:24px;
}

.prices__pricing--container{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.prices__white{
    color:white;
}

.prices__bracket--header-2{
    border-bottom:#ADD8E6 solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.prices__white{
    color:white;
}

.prices__list--selected{
    color:white !important;
   
}

.prices__button--wrapper-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:32px;
}

.prices__bracket--description-2{
    border-bottom:#ADD8E6 solid 2px;
}

/* 

TESTIMONIALS

*/
#testimonials{
    margin-bottom:200px;
}
.testimonials__img--wrapper{
    width:55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials__img{
    max-width:1000px;
    padding: 48px 56px 24px 48px;
}
.testimonials__wrapper{
    display: flex;
    justify-content: center;    
    
}

.testimonials__description--wrapper{
    width:45%;
    padding-right:32px;
}

.testimonials__subheader{
    font-size:18px;
}

.testimonials__header{
    padding: 24px 0;
}

.testimonials__stars{
    margin-top:48px;
}

.fas.fa-star{
    color: 	#FFA500;
}

.testimonials__client1{
    width:80px;
    border-radius:50%;
}

.testimonials__review--comment{
    font-size:18px;
    font-weight:700;
    margin:24px 0;
}

.testimonials__review--description{
    margin-bottom:32px;
}

.testimonials__review--wrapper{
    display: flex;
    justify-content: space-between;
}

.testimonials__client--wrapper{
    display: flex;
}
.testimonials__client-description--wrapper{
    margin-left:24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.testimonials__name--client1{
    font-size:18px;
    font-weight:700;
    padding-bottom:6px;
}

.testimonials__btn--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__btn{
    padding:16px 18px;
    border-radius:100px;
    background-color:#e8ecf0;
}

.fas.fa-arrow-left{
    color:#6415ff;
}

.fas.fa-arrow-right{
    color:#6415ff;
}

.testimonials__btn{
    margin-right:12px;
    margin-left:12px;

}

.testimonials__line-between--btn{
    border-right: 1px solid #e8ecf0;
    padding:10px 0;
}

/*

FAQS

*/

#faqs{
    max-width:1400px;
    margin:0 auto;
}

.faqs__contact--container{
    background-color:#6415ff;
    border-radius:8px;
    margin: 0 32px 180px 32px;
}

.faqs__contact--wrapper{
    display: flex;
}


.faqs__contact--description{
    width:50%;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqs__description{
    font-weight:700;
    padding:100px 0 100px 75px;
    color:white;
    margin-right:32px;
}

.faqs__btn--wrapper{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:32px;
}

.faqs__get-started{
    background-color:#F56565;
    font-weight:700;
    padding: 22px 48px;
    border-radius:100px;
    margin-right:32px;
    color:white;
    font-size:16px;
}

.faqs__get-started:hover{
    background-color: #ed4646;
    transition:300ms ease;
}

.faqs__contact{
    font-weight:700;
    border: white 1px solid;
    padding: 22px 48px;
    border-radius:100px;
    color:white;
    background-color: #6415ff;
    font-size:16px;
}

.faqs__contact:hover{
    color:#6415ff;
    background-color:white;
    transition:300ms ease;
}

/*

FOOTER

*/

footer{
    background-color:#6415ff; 
    padding-top:100px;
    padding-bottom:100px;
    padding-left:32px;
    padding-right:32px;
}

.footer__list{

    display: flex;
    flex-direction: column;
}

.footer__heading{
    font-weight:700;
    color:white;
    margin-bottom:20px;
}
.footer__list--wrapper{
    margin-bottom:12px;
}
.footer__lists{
    color:white;
    font-size:14px;
    padding-bottom:4px;
    font-weight:500;
}

.footer__lists:hover{
    border-bottom: solid 2px white;
}

.footer__tab--wrapper{
    max-width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__line-break{
    border:#7028ff 1px solid;
    margin-top:50px;
    margin-bottom:60px;
}

.footer__copyright--wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    width:35px;
}

.footer__logo--wrapper{
    display: flex;
}

.footer__logo--name{
    color:white;
    font-weight:700;
    font-size:20px;
    display: flex;
    align-items: center;
    margin-left:14px;
}

.footer__copyright-info{
    display: flex;
    align-items: center;
    font-weight:500;
    color:#c5ccd4;
}
.footer__socials{
    display: flex;
}


.fab.fa-facebook-f{
    color:black;
    font-size:14px;
    background-color: white;
    border-radius: 100px;
    padding:10px 13px;
    margin-right:12px;
}

.fab.fa-twitter{
    color:black;
    font-size:14px;
    background-color:white;
    padding:11px 11px;
    border-radius:200px;
    margin-right:12px;
}

.fab.fa-youtube{
    color:black;
    font-size:14px;
    background-color:white;
    padding:11px 11px;
    border-radius:200px;
}

@media(max-width:1024px){
    .header__heading{
        font-size: 30px;
    }
    
    .header__para{
        font-size:16px;
    }
    .features__description{
        width:calc(100%/2);

        display: flex;
        justify-content: center;        
        
    }
    .prices__container--wrapper{
        width:100%;
        margin-bottom:50px;
    }

    .prices__pricing--container{
        max-width:500px;
        margin:0 auto;
    }
    .prices__button--wrapper-2{
        padding-bottom:32px;
    }
    .prices__bracket--3{
        margin-right:0;
    }

    .nav__links{
        display: none;
    }
    .btn__burger{
        display: contents;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__description{
        text-align: center;
        margin:0 auto;
        width:100%;
        max-width:550px;
        display: flex;
        flex-direction: column;
    }
    .header__input--wrapper{
        max-width:400px;
    }

    .header__small--text{
        margin-top:48px;
        font-size:14px;
    }
    .header__logo{
        width:500px;
        margin-bottom:48px;
    }

    .faqs__contact--wrapper{
        text-align: center;
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .faqs__contact--description{
        display: flex;
        justify-content: center;
        max-width: 600px; 
    }

    .faqs__btn--wrapper{
        margin:0;
        padding-top:32px;
        padding-bottom:64px;
        width:600px;
    }
    
    .faqs__description{
        padding:0;
        padding-top:75px;
        margin:0;
    }
}